---

---
<header class="flex justify-center items-center py-5 xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-8 m-2 font-mono font-bold ">
        <a href="#top" >Inicio</a>
        <a href="#experiencia">Sobre mí</a>
        <a href="#sobre-mi">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>